<section class="closebutton">
    <div class="toggleinfo">
        <svg version="1.1" class="close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40.7 40.7" style="enable-background:new 0 0 40.7 40.7;" xml:space="preserve">
            <style type="text/css">
                .st0 {
                    fill: none;
                    stroke: #FFFFFF;
                    stroke-miterlimit: 10;
                }
            </style>
            <line id="XMLID_4_" class="st0" x1="0.4" y1="0.4" x2="40.4" y2="40.4" />
            <line id="XMLID_5_" class="st0" x1="0.4" y1="40.4" x2="40.4" y2="0.4" />
        </svg>
    </div>
</section>

<section id="menu" class="">
    <section class="information">
        <article id="info-container">
            <div>
                <h2 class="menutitle">Menu</h2>
            </div>
            <nav>
                <ul class="main-nav-ul">
                    <li class="main-nav-li">
                        <a href="#" class="nav-link">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="2em" height="2em" viewBox="0 0 537.9 713.7" style="enable-background:new 0 0 537.9 713.7;" xml:space="preserve">
                                <style type="text/css">
                                    .home {
                                        fill: #FFF;
                                        stroke: none;
                                    }
                                </style>
                                <polyline class="home" points="5,337.4 5,708.7 36.6,708.7 504.2,708.7 532.9,708.7 532.9,343.4 263.5,5 263.4,5 " />
                                <line class="home" x1="5" y1="337.4" x2="263.4" y2="5" />
                            </svg>
                            <p class="nav-text">
                                Home
                            </p>
                        </a>
                    </li>
                    <li class="main-nav-li">
                        <a href="#" class="nav-link">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="2em" height="2em" viewBox="0 0 537.9 713.7" style="enable-background:new 0 0 537.9 713.7;" xml:space="preserve">
                                <style type="text/css">
                                    .home {
                                        fill: #FFF;
                                        stroke: none;
                                    }
                                </style>
                                <polyline class="home" points="5,337.4 5,708.7 36.6,708.7 504.2,708.7 532.9,708.7 532.9,343.4 263.5,5 263.4,5 " />
                                <line class="home" x1="5" y1="337.4" x2="263.4" y2="5" />
                            </svg>
                            <p class="nav-text">
                                Tournaments
                            </p>
                        </a>
                    </li>

                </ul>
            </nav>
        </article>
    </section>
</section>
