<div class="menu-wrapper">


    <section class="closebutton">
        <div class="toggleinfo">
            <svg version="1.1" class="close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40.7 40.7" style="enable-background:new 0 0 40.7 40.7;" xml:space="preserve">
                <style type="text/css">
                    .st0 {
                        fill: none;
                        stroke: #FFFFFF;
                        stroke-miterlimit: 10;
                    }
                </style>
                <line id="XMLID_4_" class="st0" x1="0.4" y1="0.4" x2="40.4" y2="40.4" />
                <line id="XMLID_5_" class="st0" x1="0.4" y1="40.4" x2="40.4" y2="0.4" />
            </svg>
        </div>
    </section>

    <section id="menu" class="">
        <section class="information">
            <article id="info-container">
                <div>
                    <h2 class="menutitle">Menu</h2>
                </div>
                <nav>
                    <ul class="main-nav-ul">
                        <li class="main-nav-li">
                            <a href="/" class="nav-link">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1.5em" height="1.5em" viewBox="0 0 537.9 713.7" style="enable-background:new 0 0 537.9 713.7;" xml:space="preserve">
                                    <style type="text/css">
                                        .home {
                                            fill: #FFF;
                                            stroke: none;
                                        }
                                    </style>
                                    <polyline class="home" points="5,337.4 5,708.7 36.6,708.7 504.2,708.7 532.9,708.7 532.9,343.4 263.5,5 263.4,5 " />
                                    <line class="home" x1="5" y1="337.4" x2="263.4" y2="5" />
                                </svg>
                                <p class="nav-text">
                                    Home
                                </p>
                            </a>
                        </li>
                        <li class="main-nav-li">
                            <a href="/tournaments" class="nav-link">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1.7em" height="1.7em" viewBox="0 0 512 416.1" style="enable-background:new 0 0 512 416.1;" xml:space="preserve">
                                    <style type="text/css">
                                        .trophy {
                                            fill: #FFFFFF;
                                            stroke: none;
                                        }
                                    </style>
                                    <g>
                                        <path class="trophy" d="M410.4,25.7c0.3-15.7-0.3-25.6-0.3-25.6L256.8,0l0,0H256h-0.8l0,0L101.8,0.1c0,0-0.6,9.9-0.2,25.6H0v16.8
		c0,3.8,0.6,94,56.3,143.4c23.2,20.6,52.2,31,86.3,31c5.2,0,10.5-0.3,15.9-0.8c19.4,26.6,41.8,45.2,67,54.4v73.6h-74v46.1h-24.5
		v25.8h128.1h1.6h128.1v-25.8h-24.5v-46.1h-74v-73.6c25.2-9.3,47.6-27.9,67-54.4c5.4,0.5,10.7,0.8,15.9,0.8
		c34.1,0,63.1-10.4,86.3-31C511.4,136.5,512,46.3,512,42.5V25.7H410.4z M78.7,160.9c-31.8-28.1-41.2-76.3-44-101.7h68.8
		c2.9,31.6,9.8,71.1,25.6,105.7c2.9,6.4,5.9,12.4,9.1,18.3C114.4,182.3,94.5,174.9,78.7,160.9z M433.3,160.9
		c-15.8,14-35.8,21.4-59.5,22.3c3.1-5.9,6.2-11.9,9.1-18.3c15.8-34.6,22.7-74.1,25.6-105.7h68.8C474.5,84.6,465.2,132.8,433.3,160.9
		z" />
                                    </g>
                                </svg>

                                <p class="nav-text">
                                    Tournaments
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
            </article>
        </section>
    </section>
</div>
