.siteheader {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.siteheader h1 {
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 2em;
  margin: auto;
  padding: 0.3em;
}

.tabs li a {
    display: inline-block;
    color: grey;
    text-align: center;
    padding: 0.3em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.1em;
    width: 100%;
}
