/*--------------------------------------------------------------
>>> ABOUT:
----------------------------------------------------------------
    AUTHOR:         Senny Kalidien
    PROJECT:        WEBAPP FROM SCRATCH
    VERSION:        0.2
    EXTERNAL CSS:   reset.css, fonts.css
--------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> COLORS:
----------------------------------------------------------------
    BACKGROUND:     #ffffff;
    NORMAL TEXT:    #1e1e1e;
    ANCHORS:        #2980b9;
    BUTTONS:        #2980b9;
--------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENT:
----------------------------------------------------------------
# STRUCTURE
	## HEADER
	## CONTENT
    	### SPECIFIC ARTICLES
    	### LOADER
	## FOOTER
# EXTRA CSS: MEDIA QUERIES
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# STRUCTURE
--------------------------------------------------------------*/

body {
    background: #fff;
}
#wrapper {
    position: relative;
    overflow: hidden;
}
#header {
    padding: .5em 2em .2em;
    text-align: center;
    color: #1e1e1e;
    background: #f6b01a;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
#content {
    position: relative;
}

/*--------------------------------------------------------------
## Header (+ NAV)
--------------------------------------------------------------*/

#header .logo {
    display: block;
    float: left;
}
#header .logo img {
    min-width: 2em;
    max-width: 8em;
}
#header h1 {
    color: #f9f9f9;
}
#header nav ul li a svg {
    fill: #fff;
}
#header nav ul li a svg:hover {
    fill: red;
}

/*--------------------------------------------------------------
## CONTENT
--------------------------------------------------------------*/

#content > ul {
    list-style: outside;
    margin-left: 1.2em;
}
#content > section {
    position: relative;
}
#content > section h2 {
    padding: .3em;
    text-align: center;
    background: #3788c5;
    color: #fff;
    width: 100%;
}

/*--------------------------------------------------------------
# MODIFIERS
--------------------------------------------------------------*/

.is-visible {
  display: block;
}

.hidden {
  display: none;
}

/*--------------------------------------------------------------
# EXTRA CSS: MEDIA QUERIES
--------------------------------------------------------------*/

@media (min-width: 32em) {

}
@media (min-width: 55em) {

}
@media (min-width: 78em) {

}
