.main-nav {
  margin-bottom: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  box-shadow: 0 11px 11px 12px RGBA(67, 67, 67, 0.5);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFFFFF;
}

nav ul li {
  width: 100%;
  text-align: center;
  border-bottom: 4px solid grey;
}

.nav-link {
    display: inline-block;
    color: grey;
    text-align: center;
    padding: 0.3em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 0.9em;
    width: 100%;
}

.nav-text {
  margin-bottom: 0;
}

nav ul li:focus, .active {
  border-bottom: 4px solid #f04b51;
}

nav ul li.active a {
  color: #f04b51;
  font-weight: 400;
}

.main-nav-li:hover a {
  background-color: #ccc;
  background: #ccc;
}

svg {
  margin: auto;
  fill: grey;
}

nav ul li.active svg {
  fill: #f04b51;
}
