/*--------------------------------------------------------------
# RESET
--------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
    font-size: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-width: 0;
    /*min-height: 0;*/
}

html {
    font-size: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: #fff;
    overflow-x: hidden;
}

body {
    background: #f9f9f9;
}

ul, ol {
    list-style: none;
}

a img {
    border: 0;
}
a:hover, a:active, a:focus {
    outline: 0;
}

img	{
    vertical-align: none;
    height: auto;
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

blockquote, q {
    quotes: "" "";
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

caption, th, td {
    font-weight: normal;
    text-align: left;
}

table {
    border-collapse: separate;
}

table, th, td {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary,
svg
{
	display: block;
}

svg {
    max-height: 3em;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

embed,
iframe,
object {
	max-width: 100%;
}

button {
    box-shadow: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
}

/* Fallback for hiding spinner on numbers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*--------------------------------------------------------------
# MODIFIERS
--------------------------------------------------------------*/
.is-visible {
    display: block !important;
    opacity: 1;
}

.hidden {
    display: none !important;
}

.inactive {
    display: none !important;
}


/*--------------------------------------------------------------
# TYPOGRAPHY
--------------------------------------------------------------*/
body, button, input, select, textarea  {
  font-family: sans-serif;
}

.fonts-loaded body,
.fonts-loaded button,
.fonts-loaded input,
.fonts-loaded select,
.fonts-loaded textarea {
    font-size: 16px;
    font-family: 'Lato', 'Helvetica neue', sans-serif;
    font-weight: 300;
}


.fonts-loaded .match__item__team {
    font-family: 'Lato', 'Helvetica neue', sans-serif;
}

.fonts-loaded .matches__division__title,
.fonts-loaded .final-label {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

p {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    color: #1e1e1e;
    font-weight: 300;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #1e1e1e;
    text-decoration: none;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1.0em;
}

h5 {
    font-size: 1.0em;
    font-weight: bold;
}
