/*.teams__match__information {
  display: none;
  position: absolute;
  margin: auto;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.2em;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
}

.divider {
  border-bottom: 2px solid white;
  width: 3em;
  margin: 1em auto;
}

#teams {
  position: relative;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 164px);
}

#teams .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#teams .btn {
  font-size: 3em;
  width: 100%;
}

#teams .btn:hover {
  background: rgba(0, 0, 0, 0.5);
}

#teams .btn-minus {
  color: white;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
}

#teams .btn-plus {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  position: absolute;
  bottom: 0;
}

#teams .top {
  width: 100%;
  margin-bottom: 2em;
}

#teams .bottom {
  width: 100%;
  margin-top: 2em;
}

/* Team home

#teams .team__home {
  background: #359776;
  width: 50%;
  position: relative;
}

#teams .team__home__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#teams .team__home__info__name {
  font-size: 1.5em;
  word-break: break-all;
  text-transform: uppercase;
  color: white;
}

#teams .team__home__info__score {
  font-size: 6em;
  text-align: center;
  color: white;
}

/* Team away

#teams .team__away {
  background: #e99c42;
  width: 50%;
  position: relative;
}

#teams .team__away__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#teams .team__away__info span {
  /*display: block;
}

#teams .team__away__info__name {
  font-size: 1.5em;
  word-break: break-all;
  text-transform: uppercase;
  color: white;
}

#teams .team__away__info__score {
  font-size: 6em;
  text-align: center;
  color: white;
}

#teams .team-input {
  border: 1px solid white;
  width: 1em;
  color: white;
  text-align: center;
  font-size: 6em;
  background: none;
  border: none;
}*/

/* Match page new */

#teams {
  display: flex;
  flex-direction: column;
}

#teams .wrapper-teams {
  width: 100%;
  margin: 2em 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#teams .team {
  font-family: Lato,Helvetica neue,sans-serif;
  width: 47%;
  max-width: 20em;
  background: #fff;
  border-radius: 22px;
  box-shadow: 0 3px 9px rgba(0,0,0,0.16), 0 3px 4px rgba(0,0,0,0.23);
}

#teams .team .btn {
  width: 100%;
  font-weight: 700;
  border: 2px solid #f04b51;
  padding-bottom: 0.2em;
  font-size: 2.7em;
  background: #f04b51;
  color: #fff;
  line-height: 1;
  box-shadow: inset 20em 0 0 0 rgba(49,48,43, 0);
  transition: box-shadow 0.1s ease-out, color 0.1s ease;
}

#teams .team .btn:hover {
  color: #fff;
  border: 2px solid rgba(49,48,43, 0.3);
  box-shadow: inset 0 0 0 10em rgba(49,48,43, 0.3);
}

#teams .team .btn-minus {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

#teams .team .btn-plus {
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

/* TEAMS GLOBAL */

#teams .team__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3em 0;
}

#teams .team__name {
  font-size: 1.5em;
  text-transform: uppercase;
  height: 2em;
  text-align: center;
}

#teams .team__score {
  font-weight: 300;
  font-size: 7em;
  padding: .2em 0;
}

#teams .match_start_time {
  font-size: 2em;
  font-weight: 600;
  color: #357ba6;
  height: 1em;
}

#teams .match_field {
  font-size: 2em;
  font-weight: 600;
  color: #357ba6;
  height: 1em;
}

#teams .team-input {
  border: 1px solid rgba(49,48,43, 0.3);
  color: black;
  width: 1.5em;
  text-align: center;
  font-size: 7em;
  padding-left: .2em;
  margin-bottom: .2em;
}

/* SUBMIT BUTTON */

.score-submit {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.score-submit input[type=submit] {
  font-family: 'OpenSansBold', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #e64a55;
  padding: 1.5em 2em;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 2em;
  /*border-radius: 10px;*/
  box-shadow: inset 20em 0 0 0 rgba(49,48,43, 0);
  transition: box-shadow 0.1s ease-out, color 0.1s ease;
}

.score-submit input[type=submit]:hover {
  box-shadow: inset 0 0 0 10em rgba(49,48,43, 0.3);
  color: #fff;
}

.score-submit input[type=checkbox] + label {
  margin: 3em 0 0 0;
  cursor: pointer;
  height: 0.5em;
}

.score-submit input[type=checkbox] + label::before { /*Will function as styled checkbox*/
    content: '\a0';
    display: inline-block;
    vertical-align: .1em;
    width: 1.25em;
    height: 1.2em;
    font-size: 1.2em;
    margin-right: .2em;
    border-radius: .2em;
    background: silver;
    text-indent: .10em;
    line-height: 1.1;
}

.score-submit input[type=checkbox]:checked + label::before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 1.2em;
    line-height: 1.2;
    background: yellowgreen;
    color: white;
}

.score-submit input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
