.splash {
  display: none;
  position: relative;
  height: 100vh;
  background: #f04b51;
  z-index: 10;
}

.splash.active {
  display: flex;
  position: fixed;
  width: 100%;
}

.splashh1 {
  margin: 0;
  color: white;
  margin: auto;
  font-size: 2em;
  position: relative;
}

.splashh1:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 10px;
  opacity: 0;
  background-color: #ffffff;
  content: "";
  animation: underlinetitle 0.5s 3s ease forwards;
}


.top-bar {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40%;
  background: #FFFFFF;
  animation: slideright 1.5s ease-in-out, shrink 1.5s 1.5s ease-in-out forwards;
}

.bottom-bar {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: #ffffff;
  animation: slideleft 1.5s ease-in-out, shrink 1.5s 1.5s ease-in-out forwards;
}

@keyframes slideright {
    0% {
      transform: translateX(-100%);
      height: 40%;
    }

    67% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(0%);
    }
}

@keyframes slideleft {
  0% {
    transform: translateX(100%);
    height: 40%;
  }

  67% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(0%)
  }
}

@keyframes shrink {
  0% {
    height: 40%;
  }

  100% {
    height: 0%;
  }
}

@keyframes underlinetitle {
  0% {
    width: 0;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 1;

  }
}
