/*--------------------------------------------------------------
>>> ABOUT:
----------------------------------------------------------------
    AUTHOR:         Senny Kalidien, Melvin Reijnoudt, Fons Hettema
    PROJECT:        Meesterproef
    VERSION:        1.0
    EXTERNAL CSS:   reset.css, fonts.css
--------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> COLORS:
----------------------------------------------------------------
    BACKGROUND:     #ffffff;
    NORMAL TEXT:    #1e1e1e;
    ANCHORS:        #e64a55;
    BUTTONS:        #e64a55;
--------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENT:
----------------------------------------------------------------
# STRUCTURE
	## HEADER
	## CONTENT
    	### MATCHES [HOME]
    	### LOADER + LOADSCREEN
	## FOOTER
# EXTRA CSS: MEDIA QUERIES
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## STRUCTURE
--------------------------------------------------------------*/
body {
    background: #000 !important;
}

#wrapper {
    min-height: 100vh;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

#header {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

#main {
    display: block;
    margin-bottom: 75px;
}

#footer { }


/*--------------------------------------------------------------
## HEADER
--------------------------------------------------------------*/
.header__title {
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 2em;
    margin: auto;
    padding: 0.3em;
    text-align: center;
    text-transform: uppercase;
}

.header__tabs__row {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F9F9F9;
}

.header__tab__list {
    width: 100%;
    text-align: center;
}

.header__tab__link {
    display: block;
    color: grey;
    text-align: center;
    padding: 0.3em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.1em;
    width: 100%;
    border-bottom: 4px solid grey;
}

.header__tab__link--active {
    color: #f04b51;
    font-weight: 600;
    border-bottom: 4px solid #f04b51;
}

.header__tab__link--active:focus {
    border-bottom: 4px solid #f04b51;
}


/*--------------------------------------------------------------
## FOOTER
--------------------------------------------------------------*/
.footer__menu {
    margin-bottom: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0 11px 11px 12px RGBA(67,67,67,.5);
}

.footer__menu__row {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F9F9F9;
}

.footer__menu__list {
    text-align: center;
    width: 33.33%;
}

.footer__menu__link {
    display: inline-block;
    color: #aaa;
    text-align: center;
    padding: 0.3em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 0.9em;
    width: 100%;
    border-top: 4px solid grey;
}

.footer__menu__link:hover {
    background-color: #ececec;
    background: #ececec;
}

.footer__menu__link:focus {
    border-top: 4px solid #f04b51;
}

.footer__menu__link--active {
    color: #f04b51;
    font-weight: 400;
    /*font-size: 1.2em;*/
    font-weight: 600;
    border-top: 4px solid #f04b51;
}

.footer__menu__svg {
  margin: 0 auto 0.1em;
  fill: grey;
  height: 2.2em;
}

.footer__menu__link--active .footer__menu__svg {
  fill: #f04b51;
}

.footer__menu__text {
    margin: 0.2em 0 0;
}


/*--------------------------------------------------------------
## CONTENT
--------------------------------------------------------------*/

/*--------------------------------------------------------------
### MATCHES [HOME]
--------------------------------------------------------------*/
.matches__division {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.16), 0 3px 4px rgba(0, 0, 0, 0.23);
    width: 95%;
    margin: auto;
    margin-top: 1em;
    border-radius: 5px;
    background: #ffffff;
    border-top: 10px solid #f04b51;
}
.matches__division__title {
    font-weight: 300;
    font-size: 2em;
    padding: 0.5em;
    padding-left: .5em;
    padding-bottom: 0.1em;
    color: #434343;
}

.matches__item {
}

.matches__items a {
    padding: 1em 1.2em 1.8em;
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.matches__item__table {
    width: 70%;
}

.matches__item__table__row {
    height: 2em;
}

.matches__item__shirt {
    position: relative;
    padding-right: .7em;
    top: 0.4em;
}

.matches__item__shirt__svg {
    width: 30px;
}

.matches__item__name {
    width: 100%;
    font-size: 1.3em;
    font-weight: 300;
}

.matches__item__score {
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
}

.matches__item__info {
    position: relative;
    margin: 0.6em 0 0;
}

.matches__item__info__time {
    font-size: 2em;
    font-weight: 500;
    color: #127ea5;
    margin: 0 0 0.1em;
}
.matches__item__info__field {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    margin: 0;
}

.matches__divider {
    height: 1px;
    color: grey;
    background-color: #e0e0e0;
    border: none;
}


/*--------------------------------------------------------------
### MATCH [SCORES]
--------------------------------------------------------------*/
.match__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.7em;
    align-items: center;
    justify-content: space-between;
}

.match__location {
    width: 100%;
    min-height: 400px;
}
.match__location__image {
    margin: 2em auto;
    display: block;
}

/*.teams__match__information {
  display: none;
  position: absolute;
  margin: auto;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.2em;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
}

.divider {
  border-bottom: 2px solid white;
  width: 3em;
  margin: 1em auto;
}

#teams {
  position: relative;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 164px);
}

#teams .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#teams .btn {
  font-size: 3em;
  width: 100%;
}

#teams .btn:hover {
  background: rgba(0, 0, 0, 0.5);
}

#teams .btn-minus {
  color: white;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
}

#teams .btn-plus {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  position: absolute;
  bottom: 0;
}

#teams .top {
  width: 100%;
  margin-bottom: 2em;
}

#teams .bottom {
  width: 100%;
  margin-top: 2em;
}

/* Team home

#teams .team__home {
  background: #359776;
  width: 50%;
  position: relative;
}

#teams .team__home__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#teams .team__home__info__name {
  font-size: 1.5em;
  word-break: break-all;
  text-transform: uppercase;
  color: white;
}

#teams .team__home__info__score {
  font-size: 6em;
  text-align: center;
  color: white;
}

/* Team away

#teams .team__away {
  background: #e99c42;
  width: 50%;
  position: relative;
}

#teams .team__away__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#teams .team__away__info span {
  /*display: block;
}

#teams .team__away__info__name {
  font-size: 1.5em;
  word-break: break-all;
  text-transform: uppercase;
  color: white;
}

#teams .team__away__info__score {
  font-size: 6em;
  text-align: center;
  color: white;
}

#teams .team-input {
  border: 1px solid white;
  width: 1em;
  color: white;
  text-align: center;
  font-size: 6em;
  background: none;
  border: none;
}*/


/* Match page new */

#teams {
    display: flex;
    flex-direction: row;
}
.teams__home {}
.teams__home {}

/* MATCH DETAIL CONTENT */


/* Scores tab */

.match__content {
    padding: 1em;
}
.match__content__title {
    /*font: 1em/1.4 Lato,Helvetica neue,sans-serif;*/
    /*font-weight: 300;*/
    font-size: 1.5em;
    margin-bottom: .5em;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 6.25em;
}
.match__content__info {
    font-size: 1em;
    margin-bottom: 1em;
    width: 100%;
}
.match__content__info td {
    text-align: left;
}
.match__content__info td {
    text-align: right;
}
form input[type=submit] {
    background: #e64a55;
    padding: .5em 1em;
    color: white;
    text-align: center;
    border: none;
    float: right;
    cursor: pointer;
    margin-top: 1em;
}
form input[type=submit]:hover {
    background: #ab3841;
}
.inactive {
    display: none;
}

/*--------------------------------------------------------------
## TOURNAMENTS
--------------------------------------------------------------*/

.tournaments__items {}
.tournaments__item {
    text-align: center;
    padding: 7em 0;
    position: relative;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    margin: 0 0 0.2em;
}
.tournaments__item:nth-of-type(1), .tournaments__item:nth-of-type(3) {}
.tournaments__item h2 {
    font-size: 1.5em;
    color: #000;
    position: relative;
    z-index: 1;
    margin-top: 2em;
}
.tournaments__item:before, .tournaments__item::after {
    /* border-bottom: solid 3px #fff;*/
}
.tournaments__item:hover::before, .tournaments__item:hover::after {
    background: #2980b9;
    color: #fff;
}
.tournaments__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    -webkit-transform: skew(0deg, 10deg);
    -moz-transform: skew(0deg, 10deg);
    -ms-transform: skew(0deg, 10deg);
    -o-transform: skew(0deg, 10deg);
    transform: skew(0deg, 10deg);
    background: #ddd;
}
.tournaments__item:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    -webkit-transform: skew(0deg, -10deg);
    -moz-transform: skew(0deg, -10deg);
    -ms-transform: skew(0deg, -10deg);
    -o-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);
    background: #ddd;
}


/*--------------------------------------------------------------
### LOADSCREEN
--------------------------------------------------------------*/
/*
.loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 10%;
    right: 0;
    margin: auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #f04b51;
    border-radius: 50%;
    background: transparent;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    display: none;
    z-index: 9;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader.active {
    display: block;
}
*/


#loadscreen {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f04b51;
    z-index: 99;
    padding: 0 1em;
}
#loadscreen div {
    margin: auto;
}
#loadscreen h1 {
    text-align: center;
    font-size: 3em;
    color: #fff;
}
#loadscreen p {
    text-align: center;
    font-size: 2em;
    color: #fff;
    font-style: italic;
    font-weight: 300;
}
#loadscreen img {
    display: block;
    margin: 1.5em auto;
}
#loadscreen img {
    min-width: 10em;
}


/*--------------------------------------------------------------
# MODIFIERS
--------------------------------------------------------------*/
.is-visible {
    display: block;
}
.hidden {
    display: none;
}


/*--------------------------------------------------------------
# EXTRA CSS: MEDIA QUERIES
--------------------------------------------------------------*/
@media (min-width: 32em) {}
@media (min-width: 55em) {}
@media (min-width: 78em) {}
