/*--------------------------------------------------------------
>>> ABOUT:
----------------------------------------------------------------
    AUTHOR:         Senny Kalidien, Melvin Reijnoudt, Fons Hettema
    PROJECT:        Meesterproef
    VERSION:        1.0
    EXTERNAL CSS:   reset.css, fonts.css
--------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> COLORS:
----------------------------------------------------------------
    BACKGROUND:     #ffffff;
    NORMAL TEXT:    #1e1e1e;
    ANCHORS:        #e64a55;
    BUTTONS:        #e64a55;
--------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENT:
----------------------------------------------------------------
# STRUCTURE
	## HEADER
	## CONTENT
    	### MATCHES [HOME]
    	### LOADER + LOADSCREEN
	## FOOTER
    ## SPLASH SCREEN
# EXTRA CSS: MEDIA QUERIES
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## STRUCTURE
--------------------------------------------------------------*/
body {
}

#wrapper {
    min-height: 100vh;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

#header {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

#main {
    display: block;
    margin-bottom: 75px;
}

#footer { }


/*--------------------------------------------------------------
## HEADER
--------------------------------------------------------------*/
.header__title {
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 2em;
    margin: auto;
    padding: 0.3em;
    text-align: center;
    text-transform: uppercase;
}

.header__tabs__row {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F9F9F9;
}

.header__tab__list {
    width: 100%;
    text-align: center;
}

.header__tab__link {
    display: block;
    color: grey;
    text-align: center;
    padding: 0.3em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.1em;
    width: 100%;
    border-bottom: 4px solid grey;
}

.header__tab__link--active {
    color: #f04b51;
    font-weight: 600;
    border-bottom: 4px solid #f04b51;
}

.header__tab__link--active:focus {
    border-bottom: 4px solid #f04b51;
}


/*--------------------------------------------------------------
## FOOTER
--------------------------------------------------------------*/
.footer__menu {
    margin-bottom: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0 11px 11px 12px RGBA(67,67,67,.5);
}

.footer__menu__row {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F9F9F9;
}

.footer__menu__list {
    text-align: center;
    width: 33.33%;
}

.footer__menu__link {
    display: inline-block;
    color: #aaa;
    text-align: center;
    padding: 0.3em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 0.9em;
    width: 100%;
    border-top: 4px solid grey;
}

.footer__menu__link:hover {
    background-color: #ececec;
    background: #ececec;
}

.footer__menu__link:focus {
    border-top: 4px solid #f04b51;
}

.footer__menu__link--active {
    color: #f04b51;
    font-weight: 400;
    /*font-size: 1.2em;*/
    font-weight: 600;
    border-top: 4px solid #f04b51;
}

.footer__menu__svg {
  margin: 0 auto 0.1em;
  fill: grey;
  height: 2.2em;
}

.footer__menu__link--active .footer__menu__svg {
  fill: #f04b51;
}

.footer__menu__text {
    margin: 0.2em 0 0;
}


/*--------------------------------------------------------------
## CONTENT
--------------------------------------------------------------*/

/*--------------------------------------------------------------
### MATCHES [HOME]
--------------------------------------------------------------*/
.matches__division {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.16), 0 3px 4px rgba(0, 0, 0, 0.23);
    width: 95%;
    margin: auto;
    margin-top: 1em;
    border-radius: 5px;
    background: #ffffff;
    border-top: 10px solid #f04b51;
}
.matches__division__title {
    font-weight: 300;
    font-size: 2em;
    padding: 0.5em;
    padding-left: .5em;
    padding-bottom: 0.1em;
    color: #434343;
}

.matches__item {
}

.matches__items a {
    padding: 1em 1.2em 1.8em;
    color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.matches__item__table {
    width: 70%;
}

.matches__item__table__row {
    height: 2em;
}

.matches__item__shirt {
    position: relative;
    padding-right: .7em;
    top: 0.4em;
}

.matches__item__shirt__svg {
    width: 30px;
}

.matches__item__name {
    width: 100%;
    font-size: 1.3em;
    font-weight: 300;
}

.matches__item__score {
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
}

.matches__item__info {
    position: relative;
    margin: 0.6em 0 0;
}

.matches__item__info__time {
    font-size: 2em;
    font-weight: 500;
    color: #127ea5;
    margin: 0 0 0.1em;
}
.matches__item__info__field {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    margin: 0;
}

.matches__divider {
    height: 1px;
    color: grey;
    background-color: #e0e0e0;
    border: none;
}


/*--------------------------------------------------------------
### MATCH [SCORES]
--------------------------------------------------------------*/
.match__items {

}

.match__item {
    padding: 1em;
}

.match__item__teams {
    width: 100%;
    margin: 2em 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.match__item__team {
  font-family: Lato,Helvetica neue,sans-serif;
  width: 47%;
  max-width: 20em;
  background: #fff;
  border-radius: 22px;
  box-shadow: 0 3px 9px rgba(0,0,0,0.16), 0 3px 4px rgba(0,0,0,0.23);
}

.match__item__team__button {
  width: 100%;
  font-weight: 700 !important;
  border: 2px solid #f04b51;
  padding-bottom: 0.2em;
  font-size: 2.7em !important;
  background: #f04b51;
  color: #fff;
  line-height: 1;
  box-shadow: inset 20em 0 0 0 rgba(49,48,43, 0);
  transition: box-shadow 0.1s ease-out, color 0.1s ease;
}

.match__item__team__button:hover {
  color: #fff;
  border: 2px solid rgba(49,48,43, 0.3);
  box-shadow: inset 0 0 0 10em rgba(49,48,43, 0.3);
}

.match__item__team__button__minus {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

.match__item__team__button__plus {
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

.match__item__team__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}

.match__item__team__info__name {
  font-size: 1.5em;
  text-transform: uppercase;
  height: 2em;
  text-align: center;
}

.match__item__team__info__score {
  font-weight: 300;
  font-size: 4em;
  margin-bottom: 0.3em;
  padding: 0.2em 0;
}

.match__item__team__info__time {
  font-size: 1.4em;
  font-weight: 600;
  color: #357ba6;
  height: 1em;
  margin-bottom: 1.3em;
}

.match__item__team__info__field {
  font-size: 1.4em;
  font-weight: 600;
  color: #357ba6;
  height: 1em;
  margin-bottom: 1.3em;
}

.match__team__info__input {
  border: 1px solid rgba(49,48,43,.3);
  color: #000;
  text-align: center;
  font-size: 4em;
  padding-left: .2em;
  margin-bottom: .3em;
}

/* Submit */
.match__item__submit {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.match__item__submit__input {
  font-family: 'OpenSansBold', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #e64a55;
  padding: 1.5em;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 2em;
  -webkit-box-shadow: inset 20em 0 0 0 rgba(49,48,43, 0);
  box-shadow: inset 20em 0 0 0 rgba(49,48,43, 0);
  transition: box-shadow 0.1s ease-out, color 0.1s ease;
}

.match__item__submit__input:hover {
  box-shadow: inset 0 0 0 10em rgba(49,48,43, 0.3);
  color: #fff;
}

.match__item__submit input[type=checkbox] + label {
  margin: 3em 0 0 0;
  cursor: pointer;
  height: 0.5em;
}

.match__item__submit input[type=checkbox] + label::before { /*Will function as styled checkbox*/
    content: '\a0';
    display: inline-block;
    vertical-align: .1em;
    width: 1.25em;
    height: 1.2em;
    font-size: 1.2em;
    margin-right: .2em;
    border-radius: .2em;
    background: silver;
    text-indent: .10em;
    line-height: 1.1;
}

.match__item__submit input[type=checkbox]:checked + label::before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 1.2em;
    line-height: 1.2;
    background: yellowgreen;
    color: white;
}

.match__item__submit input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.match__item__final__label {
    width: 100%;
    background: #434343;
    color: #ffffff;
    text-align: center;
    height: 2em;
    line-height: 2em;
}

.match__item__title {
    font-size: 1.5em;
    margin-bottom: .5em;
    font-weight: 700;
    border-bottom: 1px solid #000;
    width: 6.25em;
}

.match__item__info {
    font-size: 1em;
    margin-bottom: 1em;
    width: 100%;
}

.match__item__info td {
    text-align: right;
}

.match__item__location__image {
    margin: 2em auto;
    display: block;
}

/*--------------------------------------------------------------
## TOURNAMENTS
--------------------------------------------------------------*/
.tournaments__items {}

.tournaments__item {
    text-align: center;
    padding: 7em 0;
    position: relative;
    font-size: 1.5em;
    color: #000;
    position: relative;
}

.tournaments__item:hover {
    background: #2980b9;
    color: #fff;
}

.tournaments__item:hover h2 {
    color: #fff;
}

.tournaments__item:hover:first-of-type {
    background: #F47983;
    color: #fff;
}

.tournaments__item:hover:nth-of-type(2) {
    background: #9b59b6;
    color: #fff;
}

.tournaments__item:hover:last-of-type {
    background: #2980b9;
    color: #fff;
}


/*--------------------------------------------------------------
### SPLASH SCREEN
--------------------------------------------------------------*/
#splash {
  display: none;
  position: relative;
  height: 100vh;
  background: #f04b51;
  z-index: 10;
}

#splash.active {
  display: flex;
  position: fixed;
  width: 100%;
}

.splash__text {
  margin: 0;
  color: white;
  margin: auto;
  font-size: 2em;
  position: relative;
}

.splash__text:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 10px;
  opacity: 0;
  background-color: #ffffff;
  content: "";
  animation: underlineTitle 0.5s 3s ease forwards;
}


.splash__top__bar {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40%;
  background: #FFFFFF;
  animation: slideRight 1.5s ease-in-out, shrink 1.5s 1.5s ease-in-out forwards;
}

.splash__bottom__bar {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: #ffffff;
  animation: slideLeft 1.5s ease-in-out, shrink 1.5s 1.5s ease-in-out forwards;
}

@keyframes slideRight {
    0% {
      transform: translateX(-100%);
      height: 40%;
    }

    67% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(0%);
    }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
    height: 40%;
  }

  67% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(0%)
  }
}

@keyframes shrink {
  0% {
    height: 40%;
  }

  100% {
    height: 0%;
  }
}

@keyframes underlineTitle {
  0% {
    width: 0;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 1;

  }
}


/*--------------------------------------------------------------
# MODIFIERS
--------------------------------------------------------------*/
.is-visible {
    display: block;
}

.hidden {
    display: none;
}

.inactive {
    display: none;
}


/*--------------------------------------------------------------
# EXTRA CSS: MEDIA QUERIES
--------------------------------------------------------------*/
@media (min-width: 32em) {}
@media (min-width: 55em) {}
@media (min-width: 78em) {}
