<!DOCTYPE html>
<html lang="en">
<head>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300" rel="stylesheet">
	<meta charset="UTF-8">
	<title>Ultimate Frisbee App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">

	<style>footer,header,main,nav,svg{display:block}.footer__menu__link,.header__tab__link,a{text-decoration:none}body{line-height:1;background:#f9f9f9;font-family:sans-serif}*{margin:0;padding:0;outline:0;vertical-align:baseline;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}*,html{font-size:100%}html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background:#fff;overflow-x:hidden}ul{list-style:none}svg{max-height:3em}h1{color:#1e1e1e;font-weight:300;font-size:1.3em}#wrapper{min-height:100vh;overflow:hidden}#header{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;position:relative;z-index:1}.header__title{font-weight:300;letter-spacing:5px;font-size:2em;margin:auto;padding:.3em;text-align:center;text-transform:uppercase}.footer__menu__row,.header__tabs__row{list-style-type:none;margin:0;overflow:hidden;-webkit-box-orient:horizontal;-webkit-box-direction:normal;background-color:#f9f9f9}.header__tabs__row{padding:0;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-pack:distribute;justify-content:space-around}.header__tab__link,.header__tab__list{width:100%;text-align:center}.header__tab__link{display:block;color:grey;padding:.3em;font-size:1.1em;border-bottom:4px solid grey}.header__tab__link--active{color:#f04b51;font-weight:600;border-bottom:4px solid #f04b51}.footer__menu{margin-bottom:0;bottom:0;position:fixed;width:100%;}.footer__menu__row{padding:0;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-pack:distribute;justify-content:space-around}.footer__menu__list{text-align:center;width:33.33%}.footer__menu__link{display:inline-block;color:#aaa;text-align:center;padding:.3em;font-size:.9em;width:100%;border-top:4px solid grey}.footer__menu__link--active{border-top:4px solid #f04b51;color:#f04b51;font-weight:400;font-weight:600}.footer__menu__svg{margin:0 auto .1em;fill:grey;height:2.2em}.footer__menu__link--active .footer__menu__svg{fill:#f04b51}.footer__menu__text{margin:.2em 0 0}#main{display: none; margin-bottom:75px}</style>

    <link rel="preload" href="/dist/css/style.min.css" as="style" onload="this.rel='stylesheet'">
    <noscript>
       <link rel="stylesheet" href="/dist/css/style.min.css">
    </noscript>

	<!-- LoadCSS -->
    <script>
     !function(e){"use strict";var t=function(t,n,r){function f(e){return a.body?e():void setTimeout(function(){f(e)})}function u(){l.addEventListener&&l.removeEventListener("load",u),l.media=r||"all"}var o,a=e.document,l=a.createElement("link");if(n)o=n;else{var i=(a.body||a.getElementsByTagName("head")[0]).childNodes;o=i[i.length-1]}var d=a.styleSheets;l.rel="stylesheet",l.href=t,l.media="only x",f(function(){o.parentNode.insertBefore(l,n?o:o.nextSibling)});var s=function(e){for(var t=l.href,n=d.length;n--;)if(d[n].href===t)return e();setTimeout(function(){s(e)})};return l.addEventListener&&l.addEventListener("load",u),l.onloadcssdefined=s,s(u),l};"undefined"!=typeof exports?exports.loadCSS=t:e.loadCSS=t}("undefined"!=typeof global?global:this),function(e){if(e.loadCSS){var t=loadCSS.relpreload={};if(t.support=function(){try{return e.document.createElement("link").relList.supports("preload")}catch(t){return!1}},t.poly=function(){for(var t=e.document.getElementsByTagName("link"),n=0;n<t.length;n++){var r=t[n];"preload"===r.rel&&"style"===r.getAttribute("as")&&(e.loadCSS(r.href,r),r.rel=null)}},!t.support()){t.poly();var n=e.setInterval(t.poly,300);e.addEventListener&&e.addEventListener("load",function(){e.clearInterval(n)}),e.attachEvent&&e.attachEvent("onload",function(){e.clearInterval(n)})}}}(this);
    </script>

	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
</head>
<body>
	<div id="wrapper">
		{{{ body }}}
	</div>
	{{> splash}}
	{{> scripts}}
</body>
</html>
