<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ultimate Frisbee App</title>
</head>
<body>
	<header>
		<h1>Hello World!</h1>
	</header>
	<main id="main" role="main">
		{{{body}}}
	</main>
	<footer>
	</footer>
	{{> scripts }}
</body>
</html>
