<!DOCTYPE html>
<html lang="en" class="">
<head>
	<meta charset="UTF-8">
	<title>Ultimate Frisbee App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">

	<!-- Manifest -->
	<link rel="manifest" href="/manifest.json">
	<link rel="shortcut icon" href="/dist/img/icons/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/dist/img/icons/favicon.ico" type="image/x-icon">

	<!-- Touch icons for multiple devices -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Ultimate Frisbee App">
	<link rel="apple-touch-icon" href="/dist/img/icons/apple-touch-icon-152x152.png">
	<meta name="msapplication-TileImage" content="/dist/img/icons/apple-touch-icon-144x144.png">
	<meta name="msapplication-TileColor" content="#f04b51">

	<style>.footer__menu__link,.header__tab__link,a{text-decoration:none}*{margin:0;padding:0;outline:0;vertical-align:baseline;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}*,html{font-size:100%}html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background:#fff;overflow-x:hidden}ul{list-style:none}footer,header,main,nav,svg{display:block}svg{max-height:3em}h1{color:#1e1e1e;font-weight:300;font-size:1.3em}body{background:#f9f9f9;font-family:sans-serif;font-size:85%}#wrapper{min-height:100vh;overflow:hidden}#header{z-index:1}.header__title{font-weight:300;letter-spacing:5px;font-size:2em;margin:auto;padding:.3em;text-align:center;text-transform:uppercase}.header__tab__link{display:block;color:grey;text-align:center;padding:.3em;font-size:1.1em;width:100%;border-bottom:8px solid #cecaca}.header__tab__link--active{color:#f04b51;font-weight:600;border-bottom:8px solid #f04b51}.footer__menu{margin-bottom:0;bottom:0;position:fixed;width:100%}.footer__menu__row,.header__tabs__row{list-style-type:none;margin:0;padding:0;overflow:hidden;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-pack:distribute;justify-content:space-around;background-color:#f9f9f9}.footer__menu__list,.header__tab__list{text-align:center;width:33.33%}.footer__menu__link{display:inline-block;color:#aaa;text-align:center;padding:.3em;font-size:.9em;width:100%;border-top:4px solid #cecaca}.footer__menu__link--active{border-top:4px solid #f04b51;color:#f04b51;font-weight:400;font-weight:600}.footer__menu__svg{margin:0 auto .1em;fill:grey;height:2em;width:2em}.footer__menu__link--active .footer__menu__svg{fill:#f04b51}.footer__menu__text{margin:.2em 0 0;font-size:.9em}@media (min-width:47em){body{font-size:90%}}@media (min-width:60em){body{font-size:100%}#header{float:right;width:calc(100% - 7em)}.footer__menu{margin-bottom:0;height:100%;width:7em;background:#434343}.footer__menu__row{-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:center;justify-content:center;height:100%;background:#434343}.footer__menu__list{width:100%;display:block;margin:0 auto}.footer__menu__link{border:none;color:#fff;padding:2em 0;margin-bottom:.1em;position:relative}.footer__menu__text{margin:.5em 0 0;display:block}.footer__menu__link--active,.footer__menu__link--active .footer__menu__svg{border:none;color:#000;fill:#000;background:#ececec;font-weight:300}.footer__menu__svg{fill:#fff}}#main{display: none;}</style>

    <link rel="preload" href="/dist/css/style.min.css" as="style" onload="this.rel='stylesheet'">
    <noscript>
       <link rel="stylesheet" href="/dist/css/style.min.css">
    </noscript>

	<!-- LoadCSS -->
    <script>
	!function(e){"use strict";var t=function(t,n,r){function f(e){return a.body?e():void setTimeout(function(){f(e)})}function u(){l.addEventListener&&l.removeEventListener("load",u),l.media=r||"all"}var o,a=e.document,l=a.createElement("link");if(n)o=n;else{var i=(a.body||a.getElementsByTagName("head")[0]).childNodes;o=i[i.length-1]}var d=a.styleSheets;l.rel="stylesheet",l.href=t,l.media="only x",f(function(){o.parentNode.insertBefore(l,n?o:o.nextSibling)});var s=function(e){for(var t=l.href,n=d.length;n--;)if(d[n].href===t)return e();setTimeout(function(){s(e)})};return l.addEventListener&&l.addEventListener("load",u),l.onloadcssdefined=s,s(u),l};"undefined"!=typeof exports?exports.loadCSS=t:e.loadCSS=t}("undefined"!=typeof global?global:this),function(e){if(e.loadCSS){var t=loadCSS.relpreload={};if(t.support=function(){try{return e.document.createElement("link").relList.supports("preload")}catch(t){return!1}},t.poly=function(){for(var t=e.document.getElementsByTagName("link"),n=0;n<t.length;n++){var r=t[n];"preload"===r.rel&&"style"===r.getAttribute("as")&&(e.loadCSS(r.href,r),r.rel=null)}},!t.support()){t.poly();var n=e.setInterval(t.poly,300);e.addEventListener&&e.addEventListener("load",function(){e.clearInterval(n)}),e.attachEvent&&e.attachEvent("onload",function(){e.clearInterval(n)})}}}(this);
    </script>

	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
</head>
<body>
	<div id="wrapper">
		{{{ body }}}
	</div>
	{{> splash}}
	{{> scripts}}
</body>
</html>
