<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ultimate Frisbee App</title>

	<link rel="stylesheet" type="text/css" href="/dist/css/style.min.css">
</head>
<body>
	<header>
		<h1>Hello World!</h1>
	</header>
	<main id="main" role="main">
		{{{body}}}
	</main>
	
	<!-- Libraries -->
	<script src="/src/lib/js/socket.io.js"></script>

	<!-- Main App -->
	<script src="/dist/js/app.min.js"></script>
</body>
</html>
