<!DOCTYPE html>
<html lang="en">
<head>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
	<title>Ultimate Frisbee App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/dist/css/style.min.css">
	<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
</head>
<body>
	<div id="wrapper">
		{{{ body }}}
		{{> menu}}
	</div>

	{{> loader}}
	{{> scripts}}
</body>
</html>
