<section id="loadscreen">
    <div>
        <!-- <img src="dist/img/logo.png" alt="logo" /> -->
        <h1>Ultimate Frisbee App</h1>
        <p>Windmill Tournament Amsterdam</p>
    </div>
</section>
