{{> header_login }}

<main id="main" role="main">

    <section id="login">

        <form class="login__form" action="/api/login" method="POST">

            <fieldset class="login__fieldset">

                <legend class="login__title">Scorekeeper</legend>

                <div class="login__input">
                    <input type="email" name="email" placeholder="Email" required autofocus />
                    <span><i class="fa fa-envelope-o"></i></span>
                </div>

                <div class="login__input">
                    <input type="password" name="password" placeholder="Password" required />
                    <span><i class="fa fa-lock"></i></span>
                </div>

                <button type="submit" class="login__submit"><i class="fa fa-long-arrow-right"></i></button>

            </fieldset>

            <div class="login__feedback hidden">
                <i class="fa fa-lock" aria-hidden="true"></i>Checking login..
            </div>

        </form>

    </section>

</main>
{{> footer_login}}
