<section class="matches">

  <label for="team1">Team 1:</label><br />
  <input type="number" id="team1" name="score-team-1" value="5" /><br /><br />

  <label for="team2">Team 2:</label><br />
  <input type="number" id="team2" name="score-team-1" value="3" /><br /><br />

  <input type="submit" id="submit" name="submit" value="Submit" />

</section>
