{{> header_tournament}}

<main id="main" class="matchesmain" role="main">
    <section id="matches-block" class="matches__items">
            <div class="division">
                {{#each matches}}
                    {{> content_matches}}
                {{/each}}
            </div>
    </section>
</main>
