{{> header_tournaments}}

<main id="main" role="main">
    {{#each items}}
    <a href="/tournament/{{id}}/">
        <section id="tournaments" class="tournaments__items">

                <article class="tournaments__item">
                    <header>
                        <h2>{{name}}</h2>
                    </header>
                </article>
        </section>
    </a>
    {{/each}}
</main>
