{{> header_tournaments}}

<main id="main" role="main">
    <section id="tournaments" class="tournaments__items">
        {{#each items}}
            <article class="tournaments__item">
                <a href="/tournament/{{id}}/">
                    <header>
                        <h2>{{name}}</h2>
                    </header>
                </a>
            </article>
        {{/each}}
    </section>
</main>

{{> footer_tournaments}}
