{{> header_tournaments}}

<main id="main" role="main">
    <section id="tournaments" class="tournaments__items">
        {{#each items}}
            <article class="tournaments__item">
                <header>
                    <h2>{{name}}</h2>
                </header>
            </article>
        {{/each}}
    </section>
</main>
