{{> header_tournaments}}

<main id="main" role="main">
    <section id="tournaments" class="tournaments__items">
        {{#each items}}
            <a href="/tournament/{{id}}/">
                <article class="tournaments__item">
                    <header>
                        <h2>{{name}}</h2>
                    </header>
                </article>
            </a>
        {{/each}}
    </section>
</main>

{{> footer_tournaments}}
