<footer id="footer">
    <nav class="footer__menu">
        <button class="arrow__up__container">
            <svg class="matches__item__arrow__up" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 405.5 405.5" style="enable-background:new 0 0 405.5 405.5;" xml:space="preserve">
                <g>
                    <path style="fill:#222222;" class="st0" d="M331.3,341.3c5-0.1,9.9-2.2,13.4-5.7l55-55c3.6-3.6,5.7-8.7,5.7-13.8s-2.1-10.2-5.7-13.8L216.5,69.8
            c-3.6-3.6-8.7-5.7-13.8-5.7s-10.2,2.1-13.8,5.7L5.7,253.1c-3.6,3.6-5.7,8.7-5.7,13.8s2.1,10.2,5.7,13.8l55,55
            c3.6,3.6,8.7,5.7,13.7,5.7s10.1-2.1,13.7-5.7l114.6-114.6l114.6,114.6C321,339.3,326.1,341.4,331.3,341.3L331.3,341.3z" />
                </g>
            </svg>


        </button>
        <ul class="footer__menu__row">
            <li class="footer__menu__list">
                <a href="/" class="footer__menu__link">
                    <svg class="footer__menu__svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 463 463" xml:space="preserve">
                        <path d="M431.5,72h-400C14.131,72,0,86.131,0,103.5v256C0,376.869,14.131,391,31.5,391h400c17.369,0,31.5-14.131,31.5-31.5v-256
                    		C463,86.131,448.869,72,431.5,72z M448,359.5c0,9.098-7.402,16.5-16.5,16.5h-400c-9.098,0-16.5-7.402-16.5-16.5v-256
                    		C15,94.402,22.402,87,31.5,87h400c9.098,0,16.5,7.402,16.5,16.5V359.5z" />
                        <path d="M191.5,160h-136c-8.547,0-15.5,6.953-15.5,15.5v112c0,8.547,6.953,15.5,15.5,15.5h136c8.547,0,15.5-6.953,15.5-15.5v-112
                    		C207,166.953,200.047,160,191.5,160z M192,287.5c0,0.276-0.224,0.5-0.5,0.5h-136c-0.276,0-0.5-0.224-0.5-0.5v-112
                    		c0-0.276,0.224-0.5,0.5-0.5h136c0.276,0,0.5,0.224,0.5,0.5V287.5z" />
                        <path d="M407.5,160h-136c-8.547,0-15.5,6.953-15.5,15.5v112c0,8.547,6.953,15.5,15.5,15.5h136c8.547,0,15.5-6.953,15.5-15.5v-112
                    		C423,166.953,416.047,160,407.5,160z M408,287.5c0,0.276-0.224,0.5-0.5,0.5h-136c-0.276,0-0.5-0.224-0.5-0.5v-112
                    		c0-0.276,0.224-0.5,0.5-0.5h136c0.276,0,0.5,0.224,0.5,0.5V287.5z" />
                        <path d="M231.5,200c-4.142,0-7.5,3.358-7.5,7.5v8c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-8
                    		C239,203.358,235.642,200,231.5,200z" />
                        <path d="M231.5,240c-4.142,0-7.5,3.358-7.5,7.5v8c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-8
                    		C239,243.358,235.642,240,231.5,240z" />
                        <path d="M103.5,192h-16c-8.547,0-15.5,6.953-15.5,15.5v48c0,8.547,6.953,15.5,15.5,15.5h16c8.547,0,15.5-6.953,15.5-15.5v-48
                    		C119,198.953,112.047,192,103.5,192z M104,255.5c0,0.276-0.224,0.5-0.5,0.5h-16c-0.276,0-0.5-0.224-0.5-0.5v-48
                    		c0-0.276,0.224-0.5,0.5-0.5h16c0.276,0,0.5,0.224,0.5,0.5V255.5z" />
                        <path d="M159.5,192h-16c-8.547,0-15.5,6.953-15.5,15.5c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5c0-0.276,0.224-0.5,0.5-0.5h16
                    		c0.276,0,0.5,0.224,0.5,0.5V224h-24.5c-4.142,0-7.5,3.358-7.5,7.5v24c0,8.547,6.953,15.5,15.5,15.5h16
                    		c8.547,0,15.5-6.953,15.5-15.5c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5c0,0.276-0.224,0.5-0.5,0.5h-16
                    		c-0.276,0-0.5-0.224-0.5-0.5V239h24.5c4.142,0,7.5-3.358,7.5-7.5v-24C175,198.953,168.047,192,159.5,192z" />
                        <path d="M359.5,207h16c0.276,0,0.5,0.224,0.5,0.5c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5c0-8.547-6.953-15.5-15.5-15.5h-16
                    		c-8.547,0-15.5,6.953-15.5,15.5v24c0,4.142,3.358,7.5,7.5,7.5H376v16.5c0,0.276-0.224,0.5-0.5,0.5h-16c-0.276,0-0.5-0.224-0.5-0.5
                    		c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5c0,8.547,6.953,15.5,15.5,15.5h16c8.547,0,15.5-6.953,15.5-15.5v-24
                    		c0-4.142-3.358-7.5-7.5-7.5H359v-16.5C359,207.224,359.224,207,359.5,207z" />
                        <path d="M319.5,192h-16c-8.547,0-15.5,6.953-15.5,15.5v48c0,8.547,6.953,15.5,15.5,15.5h16c8.547,0,15.5-6.953,15.5-15.5v-48
                    		C335,198.953,328.047,192,319.5,192z M320,255.5c0,0.276-0.224,0.5-0.5,0.5h-16c-0.276,0-0.5-0.224-0.5-0.5v-48
                    		c0-0.276,0.224-0.5,0.5-0.5h16c0.276,0,0.5,0.224,0.5,0.5V255.5z" />

                        <foreignobject>
                            <img src="/dist/img/icons/matches.png" class="fallback_icon" alt="matches icon" />
                        </foreignobject>

                    </svg>
                    <span class="footer__menu__text">Matches</span>
                </a>
            </li>
            <li class="footer__menu__list">
                <a href="/tournaments/" class="footer__menu__link">
                    <svg class="footer__menu__svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 39.75 39.75" xml:space="preserve">
                        <path d="M17.673,21.639v10.663h-6.361c-0.275,0-0.5,0.226-0.5,0.5v5.75c0,0.273,0.225,0.5,0.5,0.5h17.125
                    			c0.274,0,0.5-0.227,0.5-0.5v-5.75c0-0.274-0.226-0.5-0.5-0.5h-6.359V21.639c9.924-0.938,17.672-8.104,17.672-16.784
                    			c0-0.276-0.236-0.5-0.516-0.5h-4.313c0.127-1.08,0.201-2.125,0.201-3.158c0-0.276-0.231-0.5-0.511-0.5H5.125
                    			c-0.276,0-0.5,0.224-0.5,0.5c0,1.029,0.076,2.074,0.203,3.158H0.5c-0.276,0-0.5,0.224-0.5,0.5
                    			C0,13.537,7.748,20.703,17.673,21.639z M27.938,38.05H11.813V33.3h6.361h3.403h6.358L27.938,38.05L27.938,38.05z M21.076,32.3
                    			h-2.402V21.694c0.4,0.021,0.796,0.054,1.201,0.054c0.404,0,0.802-0.031,1.201-0.054V32.3z M26.418,19.764
                    			c0.332-0.213,0.654-0.446,0.975-0.69c0.084-0.063,0.166-0.131,0.25-0.196c0.293-0.233,0.58-0.479,0.859-0.738
                    			c0.043-0.038,0.086-0.073,0.127-0.113c0.312-0.295,0.613-0.607,0.908-0.936c0.07-0.08,0.145-0.162,0.215-0.246
                    			c0.26-0.297,0.514-0.604,0.756-0.924c0.037-0.048,0.076-0.093,0.111-0.142c0.271-0.362,0.529-0.742,0.779-1.132
                    			c0.062-0.094,0.119-0.189,0.18-0.284c0.219-0.356,0.434-0.72,0.635-1.096c0.029-0.055,0.061-0.107,0.09-0.162
                    			c0.225-0.425,0.434-0.864,0.635-1.313c0.045-0.103,0.09-0.207,0.133-0.311c0.177-0.407,0.341-0.823,0.494-1.248
                    			c0.021-0.062,0.047-0.121,0.068-0.183c0.17-0.479,0.324-0.97,0.467-1.47c0.029-0.109,0.06-0.22,0.09-0.33
                    			c0.121-0.454,0.234-0.914,0.334-1.384c0.015-0.067,0.031-0.131,0.043-0.198c0.088-0.431,0.168-0.868,0.234-1.311h3.939
                    			C38.496,11.964,33.436,17.572,26.418,19.764z M34.121,1.697c-0.021,1.005-0.104,2.021-0.246,3.09
                    			c-1.178,8.66-6.414,15.096-12.705,15.879h-2.589c-6.29-0.784-11.527-7.219-12.704-15.879C5.731,3.714,5.649,2.699,5.63,1.697
                    			H34.121z M4.949,5.354c0.067,0.444,0.147,0.88,0.234,1.312c0.014,0.066,0.03,0.13,0.044,0.196C5.328,7.333,5.439,7.794,5.562,8.25
                    			C5.591,8.358,5.621,8.467,5.65,8.576c0.144,0.502,0.298,0.995,0.467,1.476c0.02,0.058,0.043,0.114,0.063,0.171
                    			c0.156,0.431,0.324,0.852,0.501,1.264c0.043,0.1,0.085,0.201,0.129,0.3c0.201,0.452,0.412,0.894,0.639,1.321
                    			c0.026,0.051,0.056,0.099,0.083,0.149c0.205,0.382,0.421,0.752,0.645,1.113c0.057,0.092,0.113,0.184,0.171,0.274
                    			c0.252,0.393,0.513,0.774,0.786,1.14c0.034,0.045,0.069,0.086,0.104,0.131c0.246,0.324,0.503,0.635,0.765,0.938
                    			c0.07,0.078,0.14,0.16,0.211,0.238c0.295,0.326,0.598,0.643,0.911,0.938c0.04,0.038,0.083,0.073,0.123,0.108
                    			c0.28,0.262,0.568,0.508,0.862,0.74c0.084,0.067,0.167,0.135,0.253,0.199c0.317,0.243,0.641,0.477,0.972,0.689
                    			C6.318,17.575,1.256,11.967,1.012,5.356H4.95L4.949,5.354L4.949,5.354z" />
                        <path d="M12.25,34.55c0,0.275,0.224,0.5,0.5,0.5H26.5c0.273,0,0.5-0.225,0.5-0.5c0-0.274-0.227-0.5-0.5-0.5H12.75
                    			C12.474,34.05,12.25,34.274,12.25,34.55z" />
                        <path d="M25,3.364h7.438c0.275,0,0.5-0.224,0.5-0.5c0-0.276-0.225-0.5-0.5-0.5H25c-0.275,0-0.5,0.224-0.5,0.5
                    			C24.5,3.14,24.725,3.364,25,3.364z" />
                        <path d="M21.576,3.364H23c0.275,0,0.5-0.224,0.5-0.5c0-0.276-0.225-0.5-0.5-0.5h-1.424c-0.275,0-0.5,0.224-0.5,0.5
                    			C21.076,3.14,21.299,3.364,21.576,3.364z" />

                        <foreignobject>
                            <img src="/dist/img/icons/tournaments.png" class="fallback_icon" alt="tournaments icon" />
                        </foreignobject>

                    </svg>
                    <span class="footer__menu__text">Tournaments</span>
                </a>
            </li>
            <li class="footer__menu__list">
                <a href="/favorites/" class="footer__menu__link footer__menu__link">
                    <svg class="footer__menu__svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                            <path d="M512,198.525l-176.891-25.704L256,12.53l-79.108,160.291L0,198.525l128,124.769L97.784,499.47L256,416.291l158.217,83.179
                    l-30.219-176.176L512,198.525z M256,376.749l-111.731,58.74l21.338-124.415l-90.393-88.111l124.92-18.152L256,91.613
                    l55.867,113.198l124.918,18.152l-90.395,88.111l21.34,124.415L256,376.749z" />
                        </g>

                        <foreignobject>
                            <img src="/dist/img/icons/favorites.png" class="fallback_icon" alt="favorites icon" />
                        </foreignobject>

                    </svg>
                    <span class="footer__menu__text">Favorites</span>
                </a>
            </li>
            {{#if user }}
                <li class="footer__menu__list">
                    <a href="/logout" class="footer__menu__link footer__menu__link--active">
                        <svg class="footer__menu__svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                            <path d="M218.953,197.915L285.6,117.13v290.864c0,11.281,9.139,20.44,20.4,20.44s20.4-9.139,20.4-20.44V116.355l67.299,81.559
                    				c7.997,8.038,20.972,8.038,28.969,0c7.996-8.038,7.996-21.053,0-29.09L321.851,46.608c-4.264-4.284-9.935-6.1-15.504-5.814
                    				c-5.589-0.285-11.24,1.53-15.504,5.814L189.985,168.824c-7.997,8.038-7.997,21.053,0,29.09
                    				C197.982,205.952,210.957,205.952,218.953,197.915z M591.6,367.235c-11.261,0-20.399,9.139-20.399,20.399v142.8H40.8v-142.8
                    				c0-11.261-9.139-20.399-20.4-20.399S0,376.374,0,387.635v163.2c0,11.261,9.139,20.4,20.4,20.4h571.2
                    				c11.261,0,20.4-9.14,20.4-20.4v-163.2C612,376.354,602.86,367.235,591.6,367.235z" />

                            <foreignobject>
                                <img src="/dist/img/icons/logout.png" class="fallback_icon" alt="logout icon" />
                            </foreignobject>

                        </svg>
                        <span class="footer__menu__text">Logout</span>
                    </a>
                </li>
            {{else}}
                <li class="footer__menu__list">
                    <a href="/login/" class="footer__menu__link footer__menu__link--active">
                        <svg class="footer__menu__svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                            <path d="M331.685,425.378c-7.478,7.479-7.478,19.584,0,27.043c7.479,7.478,19.584,7.478,27.043,0l131.943-131.962
                    				c3.979-3.979,5.681-9.276,5.412-14.479c0.269-5.221-1.434-10.499-5.412-14.477L358.728,159.56
                    				c-7.459-7.478-19.584-7.478-27.043,0c-7.478,7.478-7.478,19.584,0,27.042l100.272,100.272H19.125C8.568,286.875,0,295.443,0,306
                    				c0,10.557,8.568,19.125,19.125,19.125h412.832L331.685,425.378z M535.5,38.25H153c-42.247,0-76.5,34.253-76.5,76.5v76.5h38.25
                    				v-76.5c0-21.114,17.117-38.25,38.25-38.25h382.5c21.133,0,38.25,17.136,38.25,38.25v382.5c0,21.114-17.117,38.25-38.25,38.25H153
                    				c-21.133,0-38.25-17.117-38.25-38.25v-76.5H76.5v76.5c0,42.247,34.253,76.5,76.5,76.5h382.5c42.247,0,76.5-34.253,76.5-76.5
                    				v-382.5C612,72.503,577.747,38.25,535.5,38.25z" />

                            <foreignobject>
                                <img src="/dist/img/icons/login.png" class="fallback_icon" alt="login icon" />
                            </foreignobject>

                        </svg>
                        <span class="footer__menu__text">Login</span>
                    </a>
                </li>
            {{/if}}
        </ul>
    </nav>
</footer>
