<header id="header">
    <h1 class="header__title">Tournament</h1>
    <nav class="header__tabs">
        <ul <ul class="header__tabs_row" role="tablist">>
            <li class="header__tab__list" role="presentation"><a href="#recent" class="header__tab__link" role="tab">Rounds</a></li>
            <li class="header__tab__list" role="presentation"><a href="#live" class="header__tab__link" role="tab">Matches</a></li>
            <li class="header__tab__list" role="presentation"><a href="#upcoming" class="header__tab__link" role="tab">Ranking</a></li>
        </ul>
    </nav>
</header>
