<header class="siteheader">
    {{> menu}}
    <h1><a href="/">MATCH</a></h1>
    <nav>
        <ul class="tabs">
            <li id="info-menu"><a href="#info" class="tablinks">Info</a></li>
            <li id="scores-menu" class="active"><a href="#scores" class="tablinks">Scores</a></li>
            <li id="location-menu"><a href="#location" class="tablinks">Location</a></li>
        </ul>
    </nav>
</header>
