<header class="siteheader">
    <h1><a href="/">TOURNAMENT</a></h1>
    <nav id="section-nav">
        <ul class="tabs">
            <li id="rounds-menu"><a href="#rounds" class="tablinks">Rounds</a></li>
            <li id="games-menu" class="#games"><a href="#scores" class="tablinks">Games</a></li>
            <li id="ranking-menu"><a href="#ranking" class="tablinks">Ranking</a></li>
        </ul>
    </nav>
</header>
