<header id="header">
    <h1 class="header__title">Match</h1>
    <nav class="header__tabs">
        <ul class="header__tabs__row" role="tablist">
            <li class="header__tab__list header__tab__list__info" role="presentation"><a href="#info" class="header__tab__link" role="tab">Info</a></li>
            <li class="header__tab__list header__tab__list__scores" role="presentation"><a href="#scores" class="header__tab__link" role="tab">Scores</a></li>
        </ul>
    </nav>
</header>
