<header class="siteheader">
    <h1>MATCHES</h1>
    <nav>
        <ul class="tabs">
            <li><a href="#matches/recent" class="tablinks">Recent</a></li>
            <li><a href="#matches/live" class="tablinks active">Live</a></li>
            <li><a href="#matches/upcoming" class="tablinks">Upcoming</a></li>
        </ul>
    </nav>
</header>
