<header id="header">
    <h1 class="header__title">Matches</h1>
    <nav class="header__tabs">
        <ul class="header__tabs__row" role="tablist">
            <li class="header__tab__list" role="presentation"><a href="#recent" class="header__tab__link" role="tab">Recent</a></li>
            <li class="header__tab__list" role="presentation"><a href="#live" class="header__tab__link" role="tab">Live</a></li>
            <li class="header__tab__list" role="presentation"><a href="#upcoming" class="header__tab__link" role="tab">Upcoming</a></li>
        </ul>
    </nav>
</header>
