<header id="header">
    <h1 class="header__title">Tournament</h1>
    <nav class="header__tabs">
        <ul <ul class="header__tabs_row" role="tablist">
            <li class="header__tab__list header__tab__list__rounds" role="presentation"><a href="#rounds" class="header__tab__link" role="tab">Rounds</a></li>
            <li class="header__tab__list header__tab__list__matches" role="presentation"><a href="#matches" class="header__tab__link" role="tab">Matches</a></li>
            <li class="header__tab__list header__tab__list__ranking" role="presentation"><a href="#ranking" class="header__tab__link" role="tab">Ranking</a></li>
        </ul>
    </nav>
</header>
