<header class="siteheader">
    {{> menu}}
    <h1><a href="/">TOURNAMENT</a></h1>
    <nav>
        <ul class="tabs">
            <li id="rounds"><a href="#rounds" class="tablinks">Rounds</a></li>
            <li id="games" class="#games"><a href="#scores" class="tablinks">Games</a></li>
            <li id="ranking"><a href="#ranking" class="tablinks">Ranking</a></li>
        </ul>
    </nav>
</header>
