<header class="siteheader">
    {{> menu}}
    <h1>MATCH</h1>
    <nav>
        <ul class="tabs">
            <li id="info"><a href="#match/info" class="tablinks">Info</a></li>
            <li id="scores" class="active"><a href="#match" class="tablinks">Scores</a></li>
            <li id="location"><a href="#match/location" class="tablinks">Location</a></li>
        </ul>
    </nav>
</header>
