<header class="siteheader">
    {{> menu}}
    <h1>MATCHES</h1>
    <nav>
        <ul class="tabs">
            <li id="recent"><a href="#matches/recent" class="tablinks">Recent</a></li>
            <li id="live" class="active"><a href="#matches/live" class="tablinks">Live</a></li>
            <li id="upcoming"><a href="#matches/upcoming" class="tablinks">Upcoming</a></li>
        </ul>
    </nav>
</header>
